@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body{
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #c6e5d9;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.container{
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

#title{
    text-align:center;
    font-size: 50px;
}

#inputText{
    width: 300px;
    height: 46px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 25px;
    vertical-align: middle;
    color: black;
    outline: none;
}

#addToDo{
    height: 50px;
    width: 80px;
    border: 2px solid black;
    vertical-align: middle;   
    font-size: 25px;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    text-align: center;
    color:black
}

#addToDo:hover{
    background-color: green;
}
#addToDo:active{
    background-color: rgb(15, 82, 15);
}
#clearToDo{
    height: 50px;
    width: 80px;
    border: 2px solid black;
    vertical-align: middle;   
    font-size: 25px;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    text-align: center;
    color:black
}

#clearToDo:hover{
    background-color: #ff0000;
}

#clearToDo:active{
    background-color: #be0d30;
}

.paragraph{
    margin: 0;
    cursor: pointer;
    font-size: 35px;
    color: red;
    text-transform: capitalize;
}

.to-dos{
    margin-top: 25px;
}