/*****************************TAG SELECTORS**************************/

h1{
    color: red;
    font-size: 80px;
}
/*
img{
    background-color: red;
}
*/
/*****************************CLASS SELECTORS**************************/

.bacon{
    background-color: green;
    height: 150px;
    width: 150px;
}
.bacon:hover{
    background-color: black;
}
.broccoli{
    background-color: red;
    height: 150px;
    width: 150px;
}
.circular{
    border-radius: 100%;
}

/*****************************ID SELECTORS**************************/

#heading{
    color: blue;
}